<link rel="import" href="../../bower_components/polymer/polymer.html">

<polymer-element name="octopus-runtime" attributes="url sketch">
<script>

Polymer('octopus-runtime', {
    publish: {
		experiment: {
			id: null,
			state: "ready"
		}
	},

	ready: function () {
		var self = this;
		var socket = new WebSocket(this.url, "octopus");

		socket.onopen = function () {
			console.log("Socket open");
			self.open = true;
			self.load(self.sketch)
		};

		socket.onmessage = function (e) {
			var data = JSON.parse(e.data);
			//console.log("socket message", data);

			var protocol = data.protocol;
			var command = data.command;
			var payload = data.payload;

			if (protocol === "sketch" && payload.sketch == self.sketch) {
				if (command === "sketch-load") {
					self.fire("sketch-loaded", payload);
				} 

				else if (command === "sketch-renamed") {
					self.fire("title-renamed", payload.title);
				} 

				else if (command === "block-state") {
					self.fire("block-state", payload);
					console.log("Block", payload.block, "state", payload.state);
				} 

				else if (command === "experiment-started") {
					self.experiment.id = payload.experiment;
					self.experiment.state = "running";
					self._fireLogMessage(payload.experiment, "status", "Experiment running", new Date());
				} else if (command === "experiment-stopped") {
					self.experiment.id = null;
					self.experiment.state = "ready";
					self._fireLogMessage(payload.experiment, "status", "Experiment complete", new Date());
				} else if (command === "experiment-paused") {
					self.experiment.state = "paused";
					self._fireLogMessage(payload.experiment, "status", "Experiment paused", new Date());
				} else if (command === "experiment-resumed") {
					self.experiment.state = "running";
					self._fireLogMessage(payload.experiment, "status", "Experiment resumed", new Date());
				} else if (command === "experiment-error") {
					self.experiment.state = "error";
					self._fireLogMessage(payload.experiment, "error", "Experiment error", new Date());
				} 

				else if (command === "experiment-log" && payload.experiment == self.experiment.id) {
					self._fireLogMessage(payload.experiment, payload.level, payload.message, new Date());
				}
			}
		};

		socket.onclose = function (reason) {
			console.log("Connection Closed: ", reason);
			self.open = false;
		};

		this.socket = socket;
	},

	_fireLogMessage: function (experiment, level, message, time) {
		this.fire("experiment-log", { 
			experiment: experiment,
			level: level,
			message: message,
			time: time
		});
	},

	_socketSend: function (protocol, command, payload) {
		if (!this.open) {
			return;
		}

		var data = { protocol: protocol, command: command, payload: payload };

		console.log("Socket send", data);
		this.socket.send(JSON.stringify(data));
	},

	blockEvent: function (event) {
		event.data.sketch = this.sketch;
		this._socketSend("sketch", "block-" + event.eventType, event.data);
	},

	changeTitle: function (title) {
		this._socketSend("sketch", "sketch-rename", { 
			sketch: this.sketch, 
			title: title 
		});
	},

	experimentAction: function (action) {
		this._socketSend("sketch", "experiment-" + action, {
			sketch: this.sketch
		});
	},

	load: function (id) {
		this._socketSend("sketch", "sketch-load", {
			sketch: id
		});
	}
});

</script>
</polymer-element>
