<link rel="import" href="../../../bower_components/polymer/polymer.html">

<script type="text/javascript" src="prettify.js"></script>
  
<polymer-element name="octopus-blockly-code" attributes="code">
<template>
<style>

:host {
	width: 0;
	display: flex;
	flex-direction: row;
}

:host(.show) {
	width: 400px;
}

#blocklyCode {
	display: none;
	flex: 1;
	margin: 0;
	overflow: scroll;
}

:host(.show) #blocklyCode {
	display: block;
	padding: 20px;
}


</style>

<link rel="stylesheet" href="prettify.css">
<pre id="blocklyCode"></pre>

</template>
<script> 
  
Polymer('octopus-blockly-code', {
	codeChanged: function () {
		this.$.blocklyCode.innerHTML = prettyPrintOne(this.code, 'python');
	}
});

</script>
</polymer-element>
