
:host {
  display: block;
  margin: 5px;
}

#box {
  background-color: #D5DEED;
  border-radius: 2px;
  padding: 5px;
}

#chart {
  background-color: #FFF;
}

#options {
  display: none;
  padding: 5px;
  font-size: 0.8em;
}

#options.show {
  display: block;
}

#box core-icon {
  color: #3E57A1;
  cursor: pointer;
}

#box core-icon.active,
#box core-icon:hover {
  color: #000;
}

#options core-icon-button {
  color: #CD4848;
}
#options core-icon-button:hover {
  color: #E22200
}
