<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/core-item/core-item.html">
<link rel="import" href="../../bower_components/core-input/core-input.html">
<link rel="import" href="../../bower_components/core-toolbar/core-toolbar.html" />
<link rel="import" href="../../bower_components/core-icon-button/core-icon-button.html" />
<link rel="import" href="../../bower_components/core-icons/core-icons.html" />
<link rel="import" href="../../bower_components/core-icons/av-icons.html" />
<link rel="import" href="../../bower_components/core-input/core-input.html" />

<link rel="import" href="../octopus-runtime/octopus-runtime.html" />
<link rel="import" href="octopus-blockly-toolbox/octopus-blockly-toolbox.html">
<link rel="import" href="octopus-blockly-code/octopus-blockly-code.html">

<script type="text/javascript" src="dist/blockly.js"></script>
<script type="text/javascript" src="overrides.js"></script>
<script type="text/javascript" src="contextmenu.js"></script>

<script type="text/javascript" src="ext/colourscheme.js"></script>

<script type="text/javascript" src="msg/messages.js"></script>

<script type="text/javascript" src="dist/blocks.js"></script>
<script type="text/javascript" src="dist/python-octo.js"></script>

<polymer-element name="octopus-editor" attributes="websocketUrl sketch">
<template>

<link rel="stylesheet" href="blockly.css">
<link rel="stylesheet" href="ext.css">

<style>

:host {
	height: 100vh;
}

core-toolbar {
	background-color: #526E9C;
	color: #FFF;
	transition: background-color 0.2s linear 0.5s;
}
core-toolbar.experiment-running {
	background-color: #0D7C38;
}
core-toolbar.experiment-paused {
	background-color: #FFC200;
}
core-toolbar.experiment-error {
	background-color: #CB0909;
}

core-toolbar.experiment-running #btn-run,
core-toolbar.experiment-paused #btn-run,
core-toolbar #btn-pause,
core-toolbar #btn-resume,
core-toolbar #btn-stop {
	display: none;
}
core-toolbar.experiment-running #btn-pause,
core-toolbar.experiment-paused #btn-resume,
core-toolbar.experiment-running #btn-stop,
core-toolbar.experiment-paused #btn-stop {
	display: block;
}

core-toolbar input {
	color: #fff;
	padding-bottom: 3px;
	font-size: 24px;
	margin-left: 15px;
}

core-toolbar core-icon-button {
	font-size: 20px !important;
}

core-toolbar core-icon-button::shadow core-icon {
	margin-right: 5px;
}

#experiments-log {
	position: absolute;
	right: 10px;
	top: 40px;
	width: 500px;
	-webkit-user-select: text;
	-moz-user-select: text;
	-ms-user-select: element;
}

#experiments-log .experiment {
	background: #fff;
	border: 2px solid #223388;
	margin-top: 10px;
	padding: 5px;
	position: relative;
}

#experiments-log .experiment .experiment-link {
	margin-bottom: 5px;
	font-weight: bold;
	font-size: 12px;
}

#experiments-log .experiment .experiment-link a {
	text-decoration: none;
	color: #223388;
}

#experiments-log .experiment core-icon {
	width: 16px;
	height: 16px;
}

#experiments-log .experiment core-icon[icon="cancel"] {
	color: #223388;
	cursor: pointer;
	position: absolute;
	right: 4px;
	top: 0px;
	width: 16px;
	height: 24px;
}
#experiments-log .experiment core-icon[icon="cancel"]:hover {
	color: #526E9C;
}

#experiments-log .experiment ul {
	font-size: 12px;
	list-style-type: none;
	margin: 0;
	padding-left: 0;
}

octopus-blockly-toolbox {
	margin: 12px 0;
	width: 180px;
}

octopus-blockly-toolbox.hide {
	display: none;
	width: 0;
}

octopus-blockly-toolbox core-item {
	padding: 0 10px;
}

octopus-blockly-toolbox core-item.core-selected {
	background: #E2E2E2;
}

#blockly {
	position:relative;
}

#blockly svg {
	position: absolute;
	bottom: 0;
	right: 0;
}

</style>

<core-toolbar class="experiment-{{experiment.state}}">
	<core-icon-button icon="home" on-tap="{{ returnHome }}"></core-icon-button>
	<core-icon-button icon="av:play-circle-fill" id="btn-run" on-tap="{{runClicked}}">Run</core-icon-button>
	<core-icon-button icon="av:pause-circle-fill" id="btn-pause" on-tap="{{pauseClicked}}">Pause</core-icon-button>
	<core-icon-button icon="av:play-circle-fill" id="btn-resume" on-tap="{{resumeClicked}}">Resume</core-icon-button>
	<core-icon-button icon="cancel" id="btn-stop" on-tap="{{stopClicked}}">Stop</core-icon-button>
	<input is="core-input" id="experiment-title" on-change="{{onTitleChanged}}" />
	<div flex></div>
	<core-icon-button icon="{{ workspaceLocked ? 'lock' : 'lock-open' }}" on-tap="{{ toggleWorkspaceLocked }}" active="{{ workspaceLocked }}"></core-icon-button>
	<core-icon-button icon="developer-mode-tv" on-tap="{{ toggleCodeVisible }}" active="{{ codeVisible }}"></core-icon-button>
	<core-icon-button icon="file-download" on-tap="{{ downloadXML }}"></core-icon-button>
	<core-icon-button icon="file-upload" on-tap="{{ uploadXML }}"></core-icon-button>
</core-toolbar>

<div horizontal layout flex>
	<octopus-blockly-toolbox valueattr="name" selected="{{ toolboxSelected }}" on-activate="{{ toolboxActivate }}" on-deactivate="{{ toolboxDeactivate }}" class="{{ { hide: workspaceLocked } | tokenList }}">
		<template repeat="{{ category, i in toolbox }}">
			<core-item icon="{{ category.icon }}" name="category-{{ i }}" label="{{ category.name }}"></core-item>
		</template>
	</octopus-blockly-toolbox>
	<div id="blockly" flex></div>
	<octopus-blockly-code code="{{ code }}" class="{{ { show: codeVisible } | tokenList }}"></octopus-blockly-code>
</div>

<div id="experiments-log">
	<template repeat="{{ logMessages as experiment }}">
	<div class="experiment">
		<div class="experiment-link"><a href="/experiment/{{ experiment.id }}" target="_blank">Show Experiment</a></div>
		<core-icon icon="cancel" on-tap="{{ closeLog }}" data-experiment="{{ experiment.id }}"></core-icon>
		<ul>
			<template repeat="{{ experiment.messages as item }}">
			<li>
				<core-icon icon="{{ item.level | levelToIcon }}" style="color: {{ item.level | levelToIconColour }};"></core-icon>
				[{{item.time | formatLogTime}}] {{ item.message }}
			</li>
			</template>
		</ul>
	</div>
	</template>
</div>

<octopus-runtime
	id="runtime"
	url="{{ websocketUrl }}"
	experiment="{{ experiment }}"
	sketch="{{ sketch }}"
	on-sketch-loaded="{{onSketchLoaded}}"
	on-sketch-renamed="{{onSketchRenamed}}"
	on-block-changed="{{onBlockChanged}}"
	on-experiment-log="{{onLogMessage}}"
>
</octopus-runtime>

<xml id="toolboxCategories" style="display: none">
    <category name="Machines">
      <block type="machine_vapourtec_R2R4"></block>
      <block type="machine_knauer_K120"></block>
      <block type="machine_knauer_S100"></block>
      <block type="machine_vici_multivalve"></block>
      <block type="machine_mt_icir"></block>
      <block type="machine_wpi_aladdin"></block>
      <block type="machine_phidgets_phsensor"></block>
      <block type="machine_omega_hh306a"></block>
      <block type="machine_harvard_phd2000"></block>
      <block type="machine_mt_sics_balance"></block>
      <block type="connection_tcp"></block>
      <block type="connection_serial"></block>
      <block type="connection_phidget"></block>
	</category>
	<category name="Control">
      <block type="controls_wait"></block>
      <block type="controls_maketime"></block>
      <block type="controls_wait_until"></block>
      <block type="controls_if"></block>
      <block type="controls_repeat_ext">
        <value name="TIMES">
          <block type="math_number">
            <field name="NUM">10</field>
          </block>
        </value>
      </block>
      <block type="controls_whileUntil"></block>
      <block type="controls_parallel"></block>
      <block type="controls_dependents"></block>
      <block type="controls_bind"></block>
      <block type="controls_statemonitor"></block>
      <block type="controls_dependent_stack"></block>
      <!--block type="controls_run"></block-->
    </category>
    <category name="Logic">
      <block type="logic_compare"></block>
      <block type="logic_operation"></block>
      <block type="logic_negate"></block>
      <block type="logic_boolean"></block>
      <block type="logic_null"></block>
      <block type="logic_ternary"></block>
    </category>
    <category name="Images">
      <block type="machine_imageprovider"></block>
      <block type="machine_singletracker"></block>
      <block type="machine_multitracker"></block>
      <block type="connection_cvcamera"></block>
	  <block type="colour_picker"></block>
      <block type="image_findcolour"></block>
      <block type="image_threshold"></block>
      <block type="image_erode"></block>
      <block type="image_invert"></block>
      <block type="image_colourdistance"></block>
      <block type="image_huedistance"></block>
      <block type="image_crop"></block>
      <block type="image_intensityfn"></block>
      <block type="image_tonumber"></block>
    </category>
    <category name="Math">
      <block type="math_number"></block>
      <block type="math_arithmetic"></block>
      <block type="math_single"></block>
      <block type="math_trig"></block>
      <block type="math_constant"></block>
      <block type="math_number_property"></block>
      <block type="math_change"></block>
      <block type="math_round"></block>
      <block type="math_on_list"></block>
      <block type="math_modulo"></block>
      <block type="math_constrain">
        <value name="LOW">
          <block type="math_number">
            <field name="NUM">1</field>
          </block>
        </value>
        <value name="HIGH">
          <block type="math_number">
            <field name="NUM">100</field>
          </block>
        </value>
      </block>
      <block type="math_random_int">
        <value name="FROM">
          <block type="math_number">
            <field name="NUM">1</field>
          </block>
        </value>
        <value name="TO">
          <block type="math_number">
            <field name="NUM">100</field>
          </block>
        </value>
      </block>
      <block type="math_random_float"></block>
      <block type="math_framed"></block>
      <block type="math_throttle"></block>
    </category>
    <category name="Text">
      <block type="text"></block>
      <block type="text_join"></block>
      <block type="controls_log"></block>
      <!--block type="text_append">
        <value name="TEXT">
          <block type="text"></block>
        </value>
      </block>
      <block type="text_length"></block>
      <block type="text_isEmpty"></block>
      <block type="text_indexOf">
        <value name="VALUE">
          <block type="variables_get">
            <field name="VAR">text</field>
          </block>
        </value>
      </block>
      <block type="text_charAt">
        <value name="VALUE">
          <block type="variables_get">
            <field name="VAR">text</field>
          </block>
        </value>
      </block>
      <block type="text_getSubstring">
        <value name="STRING">
          <block type="variables_get">
            <field name="VAR">text</field>
          </block>
        </value>
      </block>
      <block type="text_changeCase"></block>
      <block type="text_trim"></block-->
    </category>
    <!--category name="Lists">
      <block type="lists_create_empty"></block>
      <block type="lists_create_with"></block>
      <block type="lists_repeat">
        <value name="NUM">
          <block type="math_number">
            <field name="NUM">5</field>
          </block>
        </value>
      </block>
      <block type="lists_length"></block>
      <block type="lists_isEmpty"></block>
      <block type="lists_indexOf">
        <value name="VALUE">
          <block type="variables_get">
            <field name="VAR">list</field>
          </block>
        </value>
      </block>
      <block type="lists_getIndex">
        <value name="VALUE">
          <block type="variables_get">
            <field name="VAR">list</field>
          </block>
        </value>
      </block>
      <block type="lists_setIndex">
        <value name="LIST">
          <block type="variables_get">
            <field name="VAR">list</field>
          </block>
        </value>
      </block>
      <block type="lists_getSublist">
        <value name="LIST">
          <block type="variables_get">
            <field name="VAR">list</field>
          </block>
        </value>
      </block>
    </category-->
    <!--category name="Variables" custom="VARIABLE"></category-->
    <category name="Variables">
      <block type="global_declaration"></block>
      <block type="lexical_variable_set"></block>
      <block type="lexical_variable_get"></block>
	</category>
    <!--category name="Functions" custom="PROCEDURE"></category-->
  </xml>
<iframe id="download" style="display:none"></iframe>

</template>
<script>

Polymer('octopus-editor', {
	ready: function () {
		Blockly.inject(this.$.blockly, {
			path: '/components/octopus-editor/'
		});

		this.loaded = false;

		this.toolboxPopulate(this.$.toolboxCategories);
		Blockly.addChangeListener(this.blocklyChanged.bind(this));
		Blockly.on("hide-toolbox", this.toolboxClosed.bind(this));
	},

	blocklyChanged: function () {
		if (this.codeVisible) {
			this.code = Blockly.PythonOcto.workspaceToCode();
		}
	},

	// Received initial load data from the server
	onSketchLoaded: function (e, sketch) {
		this.onSketchRenamed(e, sketch.title);

		var workspace = Blockly.mainWorkspace;
		var moveBlocks = {};

		var event, data;
		for (var i in sketch.events) {
			event = sketch.events[i];
			data = event.data;
			if (event.type === "AddBlock") {
				var block = Blockly.Block.obtain(workspace, data.type, data.id);

				for (var field in data.fields) {
					block.setFieldValue(data.fields[field], field);
				}

				block.initSvg();

			} else if (event.type === "SetBlockPosition") {
				var block = workspace.getBlockById(data.id);
				block.moveTo(data.x, data.y);

			} else if (event.type === "SetBlockInputsInline") {
				var block = workspace.getBlockById(data.id);
				block.setInputsInline(data.value);

			} else if (event.type === "SetBlockDisabled") {
				var block = workspace.getBlockById(data.id);
				block.setDisabled(data.value);

			} else if (event.type === "SetBlockCollapsed") {
				var block = workspace.getBlockById(data.id);
				block.setCollapsed(data.value);

			} else if (event.type === "SetBlockComment") {
				var block = workspace.getBlockById(data.id);
				block.setCommentText(data.value);

			} else if (event.type === "SetBlockMutation") {
				var block = workspace.getBlockById(data.id);
				block.JSONToMutation(JSON.parse(data.mutation));

			} else if (event.type === "ConnectBlock") {
				var block = workspace.getBlockById(data.id);
				var parent = workspace.getBlockById(data.parent);

				if (data.connection === "input-value") {
					var input = parent.getInput(data.input);
					if (input) {
						input.connection.connect(block.outputConnection);
					}
				} else if (data.connection === "input-statement") {
					var input = parent.getInput(data.input);
					if (input) {
						input.connection.connect(block.previousConnection);
					}
				} else if (data.connection === "previous") {
					parent.nextConnection.connect(block.previousConnection);
				}
			}
		}

		// Force re-evaluation of variable names upon loading.
		var topBlocks = Blockly.mainWorkspace.getTopBlocks();
		for (var i = 0, m = topBlocks.length; i < m; i++) {
			topBlocks[i].setParent(null);
		}

		workspace.render();

		// Set block running states
		var states = sketch['block-states'];
		for (var id in states) {
			workspace.getBlockById(id).setRunningState(states[id]);
		}

		var blockEvents = [
			"created", "disposed", "connected", "disconnected",
			"set-position", "set-field-value", "set-disabled",
			"set-inputs-inline", "add-input", "remove-input",
			"set-comment", "set-collapsed",
			"set-mutation", "transaction", "cancel"
		];
		var runtime = this.$.runtime;
		blockEvents.forEach(function (type) {
			Blockly.on("block-" + type, function (detail) {
				runtime.blockEvent({
					eventType: type,
					data: detail
				});
			});
		});
	},

	onSketchRenamed: function (e, title) {
		this.$['experiment-title'].value = title;
		document.title = title + " | Edit Sketch"
	},

	onBlockChanged: function (e) {
		var command = e.detail.command;
		var payload = e.detail.payload;
		var workspace = Blockly.mainWorkspace;

		if (command === "transaction") {
			return console.log("transaction", payload);
		}
		if (command === "created") {
			workspace.startEmitTransaction();

			var block = Blockly.Block.obtain(workspace, payload.type, payload.id);
			block.initSvg();
			block.render();

			block.moveBy(payload.x, payload.y);

			for (var field in payload.fields) {
				block.setFieldValue(payload.fields[field], field);
			}

			workspace.discardEmitTransaction();
			return;
		}
		if (command === "state") {
			var block = workspace.getBlockById(payload.block);
			if (block) {
				return block.setRunningState(payload.state);
			}
		}

		var block = workspace.getBlockById(payload.id);
		if (!block) {
			return;
		}

		workspace.startEmitTransaction();
		switch (command) {
			case "set-position":
				block.moveTo(payload.x, payload.y);
				break;
			case "set-field-value":
				block.setFieldValue(payload.value, payload.field);
				break;
			case "set-disabled":
				block.setDisabled(payload.value);
				break;
			case "set-inputs-inline":
				block.setInputsInline(payload.value);
				break;
			case "set-collapsed":
				block.setCollapsed(payload.value);
				break;
			case "set-comment":
				block.setCommentText(payload.value);
				break;
			case "set-mutation":
				block.JSONToMutation(JSON.parse(payload.mutation));
				break;
			case "disposed":
				block.dispose();
				break;
			case "connected":
				var parent = workspace.getBlockById(payload.parent);
				if (payload.connection === "input-value") {
					parent.getInput(payload.input).connection.connect(block.outputConnection);
					break;
				}
				if (payload.connection === "input-statement") {
					parent.getInput(payload.input).connection.connect(block.previousConnection);
					break;
				}
				if (payload.connection === "previous") {
					parent.nextConnection.connect(block.previousConnection);
					break;
				}
			case "disconnected":
				var connection, parentConnection;
				if (payload.connection === "input-value") {
					connection = block.outputConnection;
				} else if (payload.connection === "input-statement") {
					connection = block.previousConnection;
				} else if (payload.connection === "previous") {
					connection = block.previousConnection;
				}
				parentConnection = connection.targetConnection;
				block.setParent(null);
				connection.bumpAwayFrom_(parentConnection);
				break;
		}

		workspace.discardEmitTransaction();
	},

	clearBlockStates: function () {
		Blockly.mainWorkspace.getAllBlocks().forEach(function (block) {
			block.setRunningState("ready");
		});
	},

	// Log messages
	logMessages: [],
	onLogMessage: function (e) {
		var logMessages = this.logMessages;
		var experiment;
		for (var i = 0, m = logMessages.length; i < m; i++) {
			if (logMessages[i].id === e.detail.experiment) {
				experiment = logMessages[i];
			}
		}
		if (!experiment) {
			experiment = {
				id: e.detail.experiment,
				messages: []
			};
			logMessages.push(experiment);
		}
		experiment.messages.push({
			time: e.detail.time,
			level: e.detail.level,
			message: e.detail.message
		});
	},

	closeLog: function (e) {
		var experimentId = e.target.getAttribute('data-experiment');
		var logMessages = this.logMessages;
		for (var i = 0, m = logMessages.length; i < m; i++) {
			if (logMessages[i].id === experimentId) {
				logMessages.splice(i, 1);
			}
		}
	},
	formatLogTime: function (date) {
		function pad (n) { return ("0" + n).slice(-2); }
		return [date.getHours(), date.getMinutes(), date.getSeconds()].map(pad).join(":");
	},
	levelToIcon: function (level) {
		if (level === "status") return "label";
		if (level === "warning") return "warning";
		if (level === "error") return "error";
		return "info";
	},
	levelToIconColour: function (level) {
		if (level === "status") return "#0D7C38";
		if (level === "warning") return "#FFC200";
		if (level === "error") return "#CB0909";
		return "#526E9C";
	},

	// Toolbar actions
	runClicked: function (e) {
		this.clearBlockStates();
		this.$.runtime.experimentAction("run");
	},
	pauseClicked: function (e) {
		this.$.runtime.experimentAction("pause");
	},
	resumeClicked: function (e) {
		this.$.runtime.experimentAction("resume");
	},
	stopClicked: function (e) {
		this.$.runtime.experimentAction("stop");
	},
	onTitleChanged: function (e) {
		this.$.runtime.changeTitle(e.srcElement.value);
	},
	uploadXML: function (e) {
		if (!this._modal) {
			// Create an <input> element to select a file.
			var modal = $('<div class="modal"><div class="modal-dialog"><div class="modal-content"></div></div></div>');
			modal.appendTo(document.body);

			modal.find('.modal-content')
				.append($('<div class="modal-header"><h4 class="modal-title">Select blocks file to insert</h4></div>'))
				.append($('<div class="modal-body"><input type="file"></div>'))
				.append($('<div class="modal-footer"><button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button><button type="button" class="btn btn-primary">Load</button></div>'));

			this._modal = modal;
			modal.modal();
		} else {
			modal = this._modal;
			modal.modal('show');
		}

		function insertXMLFragmentBlock (text) {
			var block, blockY, blockH, maxY = 0;
			var workspace = Blockly.mainWorkspace;
			var topBlocks = workspace.getTopBlocks();

			for (var i = 0, m = topBlocks.length; i < m; i++) {
				block = topBlocks[i];
				blockY = block.getRelativeToSurfaceXY().y;
				blockH = unwrap(block.svg_.svgGroup_).getBBox().height;
				maxY = Math.max(maxY, blockY + blockH + 10);
			}
			try {
				var dom = Blockly.Xml.textToDom(text);
				$(dom).children('block').each(function () {
					block = Blockly.Xml.domToBlock(workspace, this);
					block.moveTo(0, maxY);

					blockY = block.getRelativeToSurfaceXY().y;
					blockH = unwrap(block.svg_.svgGroup_).getBBox().height;
					maxY = Math.max(maxY, blockY + blockH + 10);
				});
			} catch (e) {
				workspace.discardEmitTransaction();

				alert('The uploaded file did not contain a valid block tree.')
				console.log(e);
			}
		}

		$('button.btn-primary', modal).one('click', function () {
			file = $('input[type=file]', modal)[0].files[0];

			if (file) {
				var reader = new FileReader();
				reader.onloadend = function (e) {
					insertXMLFragmentBlock(e.target.result)
					modal.modal('hide');
				}
				reader.readAsText(file);
			} else {
				modal.modal('hide');
			}
		});
	},
	downloadXML: function (e) {
		var xmlDom = Blockly.Xml.workspaceToDom(Blockly.mainWorkspace);

		// Perform webcomponents unwrap if polyfilled
		if (window.ShadowDOMPolyfill) {
		    xmlDom = window.ShadowDOMPolyfill.unwrapIfNeeded(xmlDom);
		}

		var xmlText = Blockly.Xml.domToPrettyText(xmlDom);

		// Create an <a> element to contain the download.
		var a = window.document.createElement('a');
		a.href = window.URL.createObjectURL(new Blob([xmlText], {type: 'text/xml'}));

		// Give the download an appropriate name.
		a.download =
			'experiment__' +
			this.$['experiment-title'].value.trim()
			.replace(/[^a-z0-9]/ig, '_') + '__' +
			(new Date().toJSON().substring(0, 19)
				.replace('T', '_').replace(/:/g, '-')
			) + '.xml'

		// Append anchor to body.
		document.body.appendChild(a)
		a.click();

		// Remove anchor from body
		document.body.removeChild(a)
	},
	returnHome: function (e) {
		var a = window.document.createElement('a');
		a.href = '/';

		// Append anchor to body.
		document.body.appendChild(a)
		a.click();

		// Remove anchor from body
		document.body.removeChild(a)
	},
	codeVisible: true,
	toggleCodeVisible: function (e) {
		this.codeVisible = !this.codeVisible;
		this.blocklyChanged();
		Blockly.mainWorkspace.render();
	},
	toggleWorkspaceLocked: function (e) {
		this.workspaceLocked = !this.workspaceLocked;
		if (this.workspaceLocked) {
			Blockly.mainWorkspace.getAllBlocks().forEach(function (block) {
				Blockly.hideChaff();
				block.setEditable(false);
				block.setMovable(false);
			});
		} else {
			Blockly.mainWorkspace.getAllBlocks().forEach(function (block) {
				block.setEditable(true);
				block.setMovable(true);
			});
		}
		Blockly.mainWorkspace.render();
	},

	toolboxPopulate: function (xml) {
		// Iterate over each category.
		var toolbox = [];

		function filterChildNodesByTag (node, name) {
			return node.childNodes.array().filter(function (node) {
				return node.tagName && node.tagName.toLowerCase() == name;
			});
		}
		var nodes = filterChildNodesByTag(xml, 'category');

		nodes.forEach(function (node) {
			var custom = node.getAttribute('custom');

			toolbox.push ({
				name: node.getAttribute('name'),
				icon: node.getAttribute('icon') || 'settings',
				blocks: custom ? custom : filterChildNodesByTag(node, 'block')
			});
		})

		this.toolbox = toolbox;
	},

	// Toolbox

	toolboxActivate: function (ev, detail) {
		//try {
			var category, s = detail.value.split("-");
			if (s.length == 2 && s[0] == "category") {
				category = this.toolbox[parseInt(s[1])];
				Blockly.Toolbox.flyout_.show(category.blocks);
			}
		//} catch (e) {}
	},
	toolboxDeactivate: function () {
		// If the toolbar is closed by deselecting the menu, tell
		// Blockly to close the flyout menu.
		Blockly.Toolbox.flyout_.hide();
	},
	toolboxClosed: function () {
		// If the toolbar is closed by Blockly (e.g. by clicking in the svg area)
		// deselect the menu item.
		this.toolboxSelected = null;
	}
});

</script>
</polymer-element>
