<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/core-menu/core-menu.html">

<polymer-element name="octopus-blockly-toolbox" extends="core-menu">
<template>
  <shadow></shadow>
</template>
<script>

Polymer('octopus-blockly-toolbox', {
	notap: false,
	multi: false,

	ready: function() {
		this.super();
		this.activateListener = this.activateHandler.bind(this);
	},

	// event fired from host
	activateHandler: function(e) {
		var i = this.findDistributedTarget(e.target, this.items);
		if (i >= 0) {
            var item = this.items[i];
            var s = this.valueForNode(item) || i;
			if (this.selected == s) {
				this.selected = null;
				this.asyncFire('deactivate', {value: s});
			} else {
				if (this.selected) {
					this.asyncFire('deactivate', {value: this.selected});
				}
				this.selected = s;
				this.asyncFire('activate', {value: s});
				this.asyncFire('core-activate', {item: item});
			}
		}
	}
});

</script>
</polymer-element>
